.text{
  text-decoration: none;
  color:rgb(154,157,160);
}

.text:hover{
  text-decoration: none;
  color:rgb(213, 216, 219);;
}

.hover{
  height: 100%;
}

.hove{
  height: 100%;
}

.auto{
  width: 45% !important;
}

.card-img-top{
  height: 300px;
}

.hover:hover{
  border: 1px solid;
}

.cardMosqui{
  height: 97%;
}

.bgColor {
  background-color: #f8f9fa8a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}